<div class="flex flex-col items-center justify-around h-screen">
    <h1 class="text-3xl font-bold  text-cyan-600 font-culpa">
        Budget App
    </h1>
    <div class="flex flex-col w-full text-center gap-1">
        <%= link_to "Log in", new_user_session_path, class:"bg-[#3979c3] py-3 mx-3 rounded text-white hover:bg-[#2e629e] uppercase text-sm" %> 
        <%= link_to "Sign up", new_user_registration_path, class:"py-3 mx-3 rounded text-gray-800 hover:bg-gray-100 uppercase text-sm" %>
    </div>
</div>